<button class="title" routerLink="/cliente">Regresar</button>

<h3> Nuevo Cliente</h3>

<div class="card">
  <form [formGroup]="FormCliente" (submit)="ingresarClien()" ngNativeValidate>
    <div class="form-1">
      <label for="">Primer nombre</label>
      <input required type="text" name="" formControlName="Nombre_1" id="" class="input">
    </div>
    <div class="form-2">
      <label for="">Segundo nombre</label>
      <input required type="text" name="" formControlName="Nombre_2" id="" class="input">
    </div>
    <div class="form-3">
      <label for="">Apellido paterno</label>
      <input required type="text" name="" formControlName="Apellido_paterno" id="" class="input">
    </div>
    <div class="form-4">
      <label for="">Apellido materno</label>
      <input required type="text" name="" formControlName="Apellido_materno" id="" class="input">
    </div>
    <div class="form-5">
      <label for="">Numero de telefono</label>
      <input required type="text" name="" formControlName="Numero_telefono" id="" class="input">
    </div>
    <div class="form-6">
      <label for="">Direccion</label>
      <input required type="text" name="" formControlName="Direccion" id="" class="input">
    </div>
    <div class="form-7">
      <label for="">Fecha de nacimiento</label>
      <input required type="text" name="" formControlName="Fecha_nacimiento" id="" class="input">
    </div>

    <br>

    <button class="btn-agregar">Agregar</button>
  </form>
</div>

<br>