<button class="title" routerLink="/venta">Regresar</button>

<h3>Editar Venta</h3>

<div class="card">
  <form [formGroup]="FormVenta" (ngSubmit)="put()" ngNativeValidate>
    <div class="form-1">
      <label>Total final</label>
      <input type="text" required formControlName="Total_final" id="" class="input">
    </div>
    <div class="form-2">
      <label>Cantidad producto final</label>
      <input type="text" required name="" formControlName="Cantidad_producto_final" id="" class="input">
    </div>
    <div class="form-3">
      <label>Fecha de venta</label>
      <input type="text" required name="" formControlName="Fecha_venta" id="" class="input">
    </div>
    <div class="form-4">
      <label>Id del cliente</label>
      <input type="text" required name="" formControlName="Cliente_id" id="" class="input">
    </div>
    <div class="form-5">
      <label>Id del empleado</label>
      <input type="text" required name="" formControlName="Empleado_id" id="" class="input">
    </div>

    <br>

    <button class="btn-guardar">Guardar Cambio</button>
  </form>
</div>

<br>