<div class="loadingspinner">
    <div id="square1"></div>
    <div id="square2"></div>
    <div id="square3"></div>
    <div id="square4"></div>
    <div id="square5"></div>
</div>


<div class="menu">
<br>
<a href="http://localhost:4200/categoria" ><button class="bt">Categorias</button></a>
<br><br>

<br><br>
    <a href="http://localhost:4200/cliente"><button>Clientes</button></a>
<br><br>

<br><br>
    <a href="http://localhost:4200/empleado"><button>Empleados</button></a>
<br><br>

<br><br>
    <a href="http://localhost:4200/producto"><button>Productos</button></a>
<br><br>

<br><br>
    <a href="http://localhost:4200/productoventa"><button>Productos de Venta</button></a>
<br><br>

<br><br>
    <a href="http://localhost:4200/proveedor"><button>Proveedores</button></a>
<br><br>

<br>
    <a href="http://localhost:4200/venta"><button>Ventas</button></a>
<br><br>
</div>


